<div class="home-container">
    <h1 class="title">📊 <span class="highlight">Mobit </span> Teste Prático Analista de Desenvolvimento PL </h1>
    <h2 class="title">📊 <span class="highlight">Rodrigo Freires Soares </span> Desenvolvedor </h2>
  
    <section class="section">
      <h2 class="section-title">Objetivo</h2>
      <p>
        Este projeto tem como objetivo criar uma <strong>aplicação completa</strong> com gráficos no front-end usando
        <code>Chart.js</code>, e <strong>CRUDs</strong> completos em todas as camadas e os principais indicadores de faturas emitidas por uma empresa.
      </p>
      <p>
        Tomei a iniciativa em colocar algumas integrações que achei válidas, como por exemplo o método que emite faturas automaticamente de acordo com a duração do contrato. Desse modo, conseguimos criar toda uma cadeia de boletos de um só vez.
      </p>
    </section>
  
    <section class="section">
      <h2 class="section-title">📈 Gráficos e Indicadores</h2>
      <ul>
        <li>📌 <strong>Gráfico de Pizza</strong>: Distribuição das faturas por status (<em>Paga, Pendente, Atrasada</em>).</li>
        <li>📌 <strong>Gráfico de Barras</strong>: Evolução mensal do total de faturas <em>emitidas</em> e <em>pagas</em>.</li>
        <li>📌 <strong>Indicadores Numéricos (Cards)</strong>:
          <ul>
            <li>Total de faturas emitidas</li>
            <li>Valor total faturado</li>
          </ul>
        </li>
        <li>🔔 <strong>Notificações de Vencimento</strong> </li>
      </ul>
    </section>
  
    <section class="section">
      <h2 class="section-title">⚙️ Requisitos Técnicos</h2>
      <h3>Back-End (.NET Core 8.0)</h3>
      <ul>
        <li>API REST com .NET Core / C#</li>
        <li>Boas práticas: <code>SOLID</code>, <code>Clean Code</code>, <code>DDD</code></li>
      </ul>
  
      <h3>Banco de Dados</h3>
      <ul>
        <li>PostgreSQL</li>
        <li>EF Core In-Memory para testes locais com persistência temporária</li>
      </ul>
  
      <h3>Front-End (Angular 19.0)</h3>
      <ul>
        <li>Interface em Angular para gerenciar os dados</li>
        <li>CRUD completo das entidades</li>
        <li>Design com Angular Material (responsivo e moderno)</li>
      </ul>
    </section>
  
    <section class="section">
      <h2 class="section-title">📦 Entrega e Avaliação</h2>
      <ul>
        <li>🔗 Código no GitHub: 
          <a href="https://github.com/Rodrigofreires/telecom.mobit" target="_blank" rel="noopener noreferrer">
            github.com/Rodrigofreires/telecom.mobit
          </a>
        </li>
        <li>📝 README com instruções para rodar localmente</li>
      </ul>
      
    </section>
  
    <div class="section">
        <h2 class="section-title">👤 Sobre Mim</h2>
        <div class="profile-info">
          <p><strong>Rodrigo Freires Soares</strong> - Desenvolvedor Full Stack | C# | .NET | SQL Server | Angular | Node.js | TypeScript | Git | HTML | CSS | Bacharel em Jornalismo</p>
          <p>Para mais informações, conecte-se comigo no <a href="https://www.linkedin.com/in/rodrigo-freires-soares/" target="_blank">
            LinkedIn</a>.
          </p>
        </div>

    </div>

    <div class="section">
        <h1 class="title">📊 <span class="highlight">Dashboard</span> </h1>

        <app-dashboard></app-dashboard>
    </div>

  </div>
  