:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Faz com que o <main> cresça e empurre o footer para baixo */
  .container {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  