<div class="dashboard-container">
    <!-- Cards -->
     <h1>Dashboards</h1>
    <div class="cards">
      <mat-card class="card">
        <h3>Total de Faturas</h3>
        <p>{{ totalFaturas }}</p>
      </mat-card>
      <mat-card class="card">
        <h3>Valor Total Faturado</h3>
        <p>R$ {{ valorTotal | number:'1.2-2' }}</p>
      </mat-card>
    </div>
  
    <!-- Gráficos -->
    <div class="charts">
      <mat-card class="chart-card">
        <h3>Distribuição por Status</h3>
        <canvas baseChart
                [data]="pieChartData"
                [type]="'pie'">
        </canvas>
      </mat-card>
  
      <mat-card class="chart-card">
        <h3>Faturas Emitidas vs Pagas</h3>
        <canvas baseChart
                [data]="barChartData"
                [type]="'bar'">
        </canvas>
      </mat-card>
    </div>
  </div>
  